<h2>Edit profile</h2>
<%= render 'error_form', user: @user %>

<%= form_with(model: @user, local: true) do |f| %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <% current_user_password?(password) %>
<% end %>
