<h3>Post details</h3>

<br>
<p>Contributor: <%= @picture.user.name %></p>
<br>
<p>image: <%= image_tag(@picture.image.url) if @picture.image && @picture.image.url %></p>
<br>
<p>comment: <%= @picture.content %></p>
<br>